section
  h3
    | About Blackbaud Integration

  p
    | Raiser's Edge NXT is a cloud-based fundraising and relationship management solution for nonprofits by Blackbaud.
  - if current_org_id.blackbaud_enabled?
    = form_tag [:blackbaud_settings], method: :delete
      h3
        | Disable Blackbaud Integrations
        = switcher current_org_id, :blackbaud_enabled?
    br
    .actions
      = link_to "Blackbaud Hooks", blackbaud_hooks_path, class: 'button'

  - else
    = form_tag [:blackbaud_settings]
      h3
        | Enable Blackbaud Integrations
        = switcher current_org_id, :blackbaud_enabled?, disabled: !current_org_id.email_confirmed?
