div
  section
    h2 Donor Hook
    = hidden_field_tag 'integration_hook[event_name]', 'donor'

div#donors_hooks
  section
    h2 Mapping fields
    - IntegrationHook::BB_DONOR_MAPPINGS[:editable_params].each do |editable|
      strong = label_tag editable, editable
      = select_tag "integration_hook[mapping_fields][#{editable}]", \
        options_for_select(IntegrationHook::BB_DONOR_MAPPINGS[:range][editable] || [], \
        IntegrationHook::BB_DONOR_MAPPINGS[:defaults][editable]), include_blank: true
      br
      br

.actions
  = submit_tag
