/ = action_title :addons, :blackbaud
h2 Blackbaud hooks
ul#hooks
  - @blackbaud_hooks&.each do |hook|
    li
      span = hook.event_name.titleize

br
.actions
  = link_to "+ New Blackbaud Hook" , new_blackbaud_hook_path, class: 'button'
